<div class="jumbotron " style="margin: 45px;">
  <div class="container text-centre">
    <%= google_sign_in_button 'Sign in with Google account', proceed_to: create_login_url , class: 'btn btn-primary', style: 'margin-left: 40%;'%>
  </div>
</div>