<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>LionMart</title>
    <%= stylesheet_link_tag 'log_in', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="bg container">
      <h1>Welcome to LionMart</h1>
      <%= link_to 'Log in', login_path, :class => "btn-lg loginbtn" %>
    </div>
    <%# <%= link_to 'Log in', login_path, :class => "btn btn-primary btn-lg active" %>
    <%#= link_to 'Sign Up', register_path, :class => "btn btn-primary btn-lg active" %>
    </body>
  </html>
